
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans;
    scroll-behavior: smooth;
  }
}

.vsl-shadow {
  box-shadow: 0 0 50px -12px rgba(0, 0, 0, 0.5);
}

@keyframes subtleBounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

.animate-bounce-subtle {
  animation: subtleBounce 2s ease-in-out infinite;
}
