
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans;
    scroll-behavior: smooth;
  }
}

.vsl-shadow {
  box-shadow: 0 0 50px -12px rgba(0, 0, 0, 0.5);
}
